<div class="thankYou">
    <i class="fa-solid fa-circle-xmark" routerLink="/home"></i>
    <div class="text-center">
        <h2>Thank you for your order!</h2>
        <p>We are preparing it at this very moment and will confirm shipping details within the next few hours.</p>
    </div>

    <img src="../../../assets/order-thank-you.jpg" class="img-fluid" alt="Preparing order">
    <div class="text-center">
        <h3>Wear it because it complements you, <br>
            Not for compliments.</h3>
    </div>

</div>